body {
    background-image: url('FONDO_web_N-03.png');
    background-size: cover; /* Cubrir todo el fondo */
    background-position: center bottom 0.15rem; /* Centrar la imagen en la página */
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

#custom-activos {
    background-color: #b5e9fe;
}

#custom-pasados {
    background-color: #b5fee9;
}