<!--ESTE ARCHIVO ABREVIA LA BARRA PRINCIPAL EN LA PARTE SUPERIOR DE LA PAGINA-->

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" >
            <img src="./appix-logo.png" width="140" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <!--------------------ACA SE MODIFICO EL HREF----------------------->
                    <a class="nav-link active" aria-current="page" href="/proyecto/home">Home</a>
                </li>
            </ul>
            <!-- Utilizar ms-auto para empujar al margen derecho -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/login">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>