<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal Appix</title>
    <link rel="stylesheet" href="casoBase.css">
    <link rel="stylesheet" href="diseno-menuPrincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <style>        
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
        .table-responsive{
            border: 1px solid #000000;
        }
        .align-middle{
            border: 1px solid #000000;
        }
        .form-select {
            width: 130px; /* Cambia este valor según tu preferencia */
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" >
                <img src="./appix-logo.png" width="140" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                </ul>
                <!-- Utilizar ms-auto para empujar al margen derecho -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="boton" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/menu_proyecto" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
        </ul>
      </nav>
    <div class="row justify-content-center mt-6">
        <div class="col-md-4">
            <div class="text-center">
                <h3>Crear un nuevo tipo de riesgo</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Impacto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Probabilidad</th>
                    <th scope="col">Estrategia</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Aqui va descripcion del riesgo">
                        </div>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Alcance</option>
                            <option value="2">Tiempo</option>
                            <option value="3">Calidad</option>
                            <option value="4">Recursos</option>
                            <option value="5">Costo</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Bajo</option>
                            <option value="2">Medio</option>
                            <option value="3">Alto</option>
                        </select>
                    </td>
                    <td>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Aqui va descripcion de la estrategia">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <button type="submit" class="btn btn-primary mb-3">Crear</button>
                        </div>
                    </td>
                </tr>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="container mt-4">
        <h6>Filtrar por proyecto</h6>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccionar</option>
            <option value="1">Proyecto1</option>
            <option value="2">Proyecto2</option>
            <option value="3">Proyecto3</option>
        </select>
    </div>
    <div class="row justify-content-center mt-6">
        <div class="col-md-4">
            <div class="text-center">
                <h3>Añadir riesgo existente al proyecto</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Impacto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Probabilidad</th>
                    <th scope="col">Estrategia</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aqui va descripcion de riesgo</td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Alcance</option>
                            <option value="2">Tiempo</option>
                            <option value="3">Calidad</option>
                            <option value="4">Recursos</option>
                            <option value="5">Costo</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Bajo</option>
                            <option value="2">Medio</option>
                            <option value="3">Alto</option>
                        </select>
                    </td>
                    <td>Aqui va descripcion de la estrategia</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                        </div>
                    </td>
                </tr>
                <tr class="table align-middle">
                    <td>Aqui va descripcion de riesgo</td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Alcance</option>
                            <option value="2">Tiempo</option>
                            <option value="3">Calidad</option>
                            <option value="4">Recursos</option>
                            <option value="5">Costo</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Bajo</option>
                            <option value="2">Medio</option>
                            <option value="3">Alto</option>
                        </select>
                    </td>
                    <td>Aqui va descripcion de la estrategia</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                        </div>
                    </td>
                </tr>
                <tr class="table align-middle">
                    <td>Aqui va descripcion de riesgo</td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Alcance</option>
                            <option value="2">Tiempo</option>
                            <option value="3">Calidad</option>
                            <option value="4">Recursos</option>
                            <option value="5">Costo</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Baja</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="1">Bajo</option>
                            <option value="2">Medio</option>
                            <option value="3">Alto</option>
                        </select>
                    </td>
                    <td>Aqui va descripcion de la estrategia</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="container py-4">
        <form class=" row g-3">
            <div class="row row-cols-4 g-4">
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>
        </form>
    </div>
</body>
<script src="reporte.js"></script>
</html>