<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal Appix</title>
    <link rel="stylesheet" href="casoBase.css">
    <link rel="stylesheet" href="diseno-menuPrincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <style>        
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" >
                <img src="./appix-logo.png" width="140" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
                <!-- Utilizar ms-auto para empujar al margen derecho -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Departamento</a>
            <select class="form-select" multiple aria-label="Multiple select example">
                <option selected>Selecciona Departamento</option>
                <option value="1">Diseño</option>
                <option value="2">Desarrollo web</option>
            </select>
        </div>
    </nav>
    <div class="container py-4">
        <form class=" row g-3">
            <div class="col-auto">
                <label for="inputPassword5" class="form-label"><strong>Descripcion</strong></label>
                <input type="text" id="inputDescription" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">Descripcion detallada del motivo que incentivo enviar el reporte de riesgo. De preferencia especificar fecha y hora de la situacion observada de forma clara y completa.</div>
            </div>
            <div class="row row-cols-4 g-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo1">
                    <label class="form-check-label" for="riesgo1">
                        Incomprensión de los requisitos del cliente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Retrasos en la entrega del contenido
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Cambios frecuentes en el diseño
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Problemas de compatibilidad de plugins
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Fallos en la integración de pasarelas de pago
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Aumento inesperado en los costos del proyecto 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Pérdida de datos o fallo de hosting
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Retrasos en la aprobación del cliente 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Dificultades técnicas con WordPress o WooCommerce 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Sobrecarga de trabajo del equipo de diseño 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Falta de experiencia en tecnologías específicas 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Inadecuada gestión del cambio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Interrupciones en la cadena de suministro digital
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Problemas de SEO y visibilidad en buscadores 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="riesgo2">
                    <label class="form-check-label" for="riesgo2">
                        Cambio de persona responsable durante y despues del proyecto
                    </label>
                </div>
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>