body {
background-image: url('./JEMMS.png');
background-size: cover; /* Cubrir todo el fondo */
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

#passwordSegura {
    margin-top: 5px;
}

h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mensaje-error{
    color: rgb(150, 26, 14);
}